# Code owners for nomoreide.
# These owners are automatically requested for review on PRs touching matched paths.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo.
*       @Rorogogogo
